<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/post/list.css"/>
</head>
<body>
    <h3 id="post_title">{{ .Title }}</h3> 
    {{ partial "hover-menu.html" }}
    {{ range .Site.Taxonomies.categories }}
    <div class="category-block">
        <h2 id="category_name">
            <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
        </h2> <!-- 카테고리 제목 -->
        <div class="grid-container">
            {{ range first 9 .Pages }} <!-- 최대 9개의 게시글만 표시 -->
            <div class="card">
                <div class="featured-image">
                    {{ if .Params.featured }}
                        <img src="{{ .Params.featured }}" alt="{{ .Title }}">
                   {{ end }}
                </div>
                    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                    <p>{{ .Summary }}</p>
                    <div class="read_more">
                        <a href="{{ .Permalink }}">Read More</a>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
    {{ end }}

</body>
</html>
