<div class="card-container">
    {{ range first 9 (where .Site.RegularPages ".Params.type" "post") }}
      <div class="card">
        <div class="card-image">
          {{ with .Params.image }}
            <img src="{{ . }}" alt="{{ $.Title }}">
          {{ end }}
        </div>
        <div class="card-content">
          <h3 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
          <p class="card-summary">{{ .Summary }}</p>
        </div>
      </div>
      {{ if eq (mod $index 3) 2 }}
        <div class="card-row-separator"></div>
      {{ end }}
    {{ end }}
  </div>