<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>{{ .Title }}</h1>

    <div class="grid-container">
        {{ range .Pages }}
        <div class="card">
            <h2>{{ .Title }}</h2>
            <!-- {{.Params.image }}
                <img src="{{ . }}" alt="{{ $.Title }}">
            {{ end }} -->
            <a href="{{ .Permalink }}">Read more</a>
        </div>
        {{ end }}
    </div>

</body>
</html>