{{< blocks/section >}}
<div class="timeline-container">
  {{< blocks/timeline >}}
    {{< blocks/timeline-item 
        title="1-2주차: 기초 수학 및 자료구조 복습" 
        week="1-2"
        color="emerald"
        link="/ko/post/algorithm-study/week1-2/"
        description="이산수학과 기본 자료구조의 탄탄한 기초 다지기" >}}
    
    {{< blocks/timeline-item 
        title="3-4주차: 정렬 및 탐색 기법" 
        week="3-4"
        color="blue"
        link="/ko/post/algorithm-study/week3-4/"
        description="핵심 정렬 알고리즘과 이진 탐색 완전 정복" >}}
    
    {{< blocks/timeline-item 
        title="5-6주차: 재귀와 분할 정복" 
        week="5-6"
        color="purple"
        link="/ko/post/algorithm-study/week5-6/"
        description="재귀적 사고와 분할 정복 패러다임 마스터" >}}
    
    {{< blocks/timeline-item 
        title="7-8주차: 동적 계획법(DP) 기초" 
        week="7-8"
        color="amber"
        link="/ko/post/algorithm-study/week7-8/"
        description="최적 부분 구조와 중복 부분 문제의 핵심 이해" >}}
    
    {{< blocks/timeline-item 
        title="9-10주차: 그래프 이론 기초" 
        week="9-10"
        color="red"
        link="/ko/post/algorithm-study/week9-10/"
        description="그래프 표현과 BFS, DFS 탐색 알고리즘" >}}
    
    {{< blocks/timeline-item 
        title="11-12주차: 고급 자료구조 및 최단경로" 
        week="11-12"
        color="cyan"
        link="/ko/post/algorithm-study/week11-12/"
        description="힙, 우선순위 큐와 다익스트라 알고리즘" >}}
    
    {{< blocks/timeline-item 
        title="13-14주차: 탐욕법 & 분리 집합" 
        week="13-14"
        color="pink"
        link="/ko/post/algorithm-study/week13-14/"
        description="탐욕 알고리즘과 Union-Find 자료구조" >}}
    
    {{< blocks/timeline-item 
        title="15-16주차: 고급 DP 및 기타 주제" 
        week="15-16"
        color="lime"
        link="/ko/post/algorithm-study/week15-16/"
        description="비트마스크 DP, 트리 DP, 문자열 알고리즘" >}}
  {{< /blocks/timeline >}}
</div>
{{< /blocks/section >}}