<div class="timeline-container">
  <div class="timeline">
    <div class="timeline-item emerald" data-week="1-2">
      <h3><a href="/ko/post/algorithm-study/week1-2/">1-2주차: 기초 수학 및 자료구조 복습</a></h3>
      <p>이산수학과 기본 자료구조의 탄탄한 기초 다지기</p>
    </div>
    
    <div class="timeline-item blue" data-week="3-4">
      <h3><a href="/ko/post/algorithm-study/week3-4/">3-4주차: 정렬 및 탐색 기법</a></h3>
      <p>핵심 정렬 알고리즘과 이진 탐색 완전 정복</p>
    </div>
    
    <div class="timeline-item purple" data-week="5-6">
      <h3><a href="/ko/post/algorithm-study/week5-6/">5-6주차: 재귀와 분할 정복</a></h3>
      <p>재귀적 사고와 분할 정복 패러다임 마스터</p>
    </div>
    
    <div class="timeline-item amber" data-week="7-8">
      <h3><a href="/ko/post/algorithm-study/week7-8/">7-8주차: 동적 계획법(DP) 기초</a></h3>
      <p>최적 부분 구조와 중복 부분 문제의 핵심 이해</p>
    </div>
    
    <div class="timeline-item red" data-week="9-10">
      <h3><a href="/ko/post/algorithm-study/week9-10/">9-10주차: 그래프 이론 기초</a></h3>
      <p>그래프 표현과 BFS, DFS 탐색 알고리즘</p>
    </div>
    
    <div class="timeline-item cyan" data-week="11-12">
      <h3><a href="/ko/post/algorithm-study/week11-12/">11-12주차: 고급 자료구조 및 최단경로</a></h3>
      <p>힙, 우선순위 큐와 다익스트라 알고리즘</p>
    </div>
    
    <div class="timeline-item pink" data-week="13-14">
      <h3><a href="/ko/post/algorithm-study/week13-14/">13-14주차: 탐욕법 & 분리 집합</a></h3>
      <p>탐욕 알고리즘과 Union-Find 자료구조</p>
    </div>
    
    <div class="timeline-item lime" data-week="15-16">
      <h3><a href="/ko/post/algorithm-study/week15-16/">15-16주차: 고급 DP 및 기타 주제</a></h3>
      <p>비트마스크 DP, 트리 DP, 문자열 알고리즘</p>
    </div>
  </div>
</div>